@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-primary: #0B192C;
  --bg-secondary: #1E3E62;
  --fc-primary: #FF6500;
  --fc-secondary: #b4ebff; */
}

body {
  /* background: var(--bg-secondary);
  color: #ffffff; */
}
